
  //--------------------------- header ---------------------------------------//
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Ranga:wght@400;700&family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Ranga:wght@400;700&family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
*
  font-family: '微軟正黑體', "Microsoft JhengHei", Arial, sans-serif;


#header
  position relative

.navbar
  background rgba(245,233,216,.5)
  backdrop-filter blur(10px)
  position absolute
  z-index 5
  height 90px

.navbar-light .navbar-nav .nav-link
  font-size 1.5rem
  line-height 1.1
  font-weight 500
  font-family: Microsoft JhengHei ,Lato, Arial, Helvetica, sans-serif,woodmart-font,"Font Awesome 5 Brands","Font Awesome 5 Free"!important;
  color rgba(0,0,0,.6)

.navbar-light .navbar-nav .nav-link:hover
  color rgb(172,117,118)

.flower
  filter drop-shadow(8px 10px 15px #fae1dd)
  width 250px
  height 150px
  position absolute
  top -25px
  left 30px
  object-fit  cover

#dropdown-1 .btn,
#dropdown-2 .btn,
#dropdown-3 .btn
  border none
  border-color none
  font-family: Microsoft JhengHei ,Lato, Arial, Helvetica, sans-serif,woodmart-font,"Font Awesome 5 Brands","Font Awesome 5 Free"!important;
  font-size 1.5rem
  line-height 1.1
  font-weight 400
  color rgba(0,0,0,.5)

#dropdown-1 .btn:hover
#dropdown-2 .btn:hover
#dropdown-3 .btn:hover
  background none
  color rgb(172,117,118)

#dropdown-1 .btn-secondary
#dropdown-2 .btn-secondary
#dropdown-3 .btn-secondary
  background none

.cart-number
  background none
  color black
  text-align center

#header .navbar-collapse
  @media (max-width:990px)
    margin-top 4.9%
    background rgba(245,233,216,.8)

#header .navbar-collapse ul
  display flex
  justify-content center
  align-items center

  //------------------------ footer -----------------------------------//
.footer-all
  background url('../assets/image/背景.jpg') no-repeat center/cover
  height 200px
  position relative

.footer-end
  background #b08968
  position absolute
  bottom 0

.ig
  color #582f0e

//---------------------------- 首頁---------------------------------------------//
#carousel
  @media (max-width:768px)
    padding-top 15%
  @media (max-width:576px)
    padding-top 32%

.content-header
  background #F0EDE8

#sidebar-1
  z-index 9999999

.section01,
.section02,
.section03
  margin-top 10%

.btn-color
  background rgb(172,117,118)
  border 1px solid rgb(172,117,118)
  color white

.btn-color:hover
  background rgb(172,117,118)
  border 1px solid rgb(172,117,118)
  color rgba(0, 0, 0, 0.5)

.photo-back
  width 600px
  height 500px
  background #F9DCC4
  @media (max-width:576px)
    width 300px
    height 300px
    left 5%


.photo
  width 600px
  height 500px
  object-fit cover
  position relative
  top 35px
  left 15%
  @media (max-width:768px)
    width 550px
  @media (max-width:576px)
    width 280px
    height 300px
    left 18%
    object-fit cover



.serve
  position relative

.serve::before
  content ''
  width 150px
  height 1px
  background rgb(160, 155, 155)
  position absolute
  top 120%
  left 42%



.container:hover .hot{
  opacity: 1;
}

.hot{
  position: absolute;
  background-color: rgba(69, 69, 69, 0.7)
  width: 20%;
  height: 15%;
  border-radius 50%
  top: 90%;
  left: 85%
  transform: translate(-50%,-50%)
  opacity: 0;
  transition: opacity 0.5s ease-in
}

//-------------------------about ----------------------------------//
.about
  @media (max-width: 768px)
    padding 15%
  @media (max-width: 576px)
    padding 30%
    margin-top 40%

//------------------------ flower---------------------------------//

.img
  height 500px
  object-fit cover

.content-all
  padding-top 13%
  padding-bottom 10%
  background #F0EDE8

.flower-title
  font-size 5rem
  font-family: ChekiangShuKeSung;
  color rgb(172,117,118)

.flower-title-img
  @media (max-width: 768px)
    width 350px
    text-align center
  @media (max-width: 576px)
    width 300px

.flower-border
  border 5px solid rgb(213,152,108)

.menu
  background none
  border none
  color rgba(0, 0, 0,.8)
  font-weight 700
  font-size 1.5rem
  text-align center
.menu:hover
  color white
  background rgb(213,152,108)

.page
  background none
  border none
  color black
.page:hover
  color rgb(213,152,108)
  background none
.card-content
  @media(max-width: 768px)
    margin auto
  @media(min-width: 768px)
    margin-left 25%

.check-line
  width 95%
  height 2px
  background rgba(0,0,0,0.1)

.card
  box-shadow: 1px 1px 1px #ccc;
  width: 25rem;
  overflow: hidden;


.card img
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.8;


.card img:hover
  transform: scale(1.1);
  opacity: 1.5;

//------------------------------商品-------------------------------------//
.card
  background none
  border none

.card img
  height 500px
  object-fit cover
.path-text a
  color gray


.product-name
  font-size 3rem

.btn-love
  width 35px
  background none
  border none


.btn-love:hover
  background none
//-------------------------cart---------------------------//
.cart-list
  font-size 2.5rem
  text-align center

.cart-list span
  font-size 1.5rem
  letter-spacing 1.5px
  font-weight 400

.list-under
  width 200px
  height 3px
  background gray
  position relative
  top -18%
  left 27%
.cart-table thead
  height 70px
  font-size 1.5rem
  background rgb(216, 216, 216)
  color  rgba(0,0,0,0.5)

.cart-table tbody
  padding 30%
  text-align center

.cart-table img
  width  150px
  height 120px
  object-fit cover

.cart-table th:nth-child(1)
  width 15%
  text-align left
  font-weight solid
  font-size 2rem
  color  rgba(0,0,0,0.5)
  letter-spacing 1.5px

.cart-table tr td:nth-child(2)
  text-align left

.cart-table tr td
  margin auto

.cart-table td,th
  padding 0.2rem


.del
  border none
  color black




//--------------------------------- order----------------------------------------------//
.finish-table tr th:nth-child(1)
  width 700px

//----------------------------- orderdetail--------------------------------------------//
.detail-table thead
  background #ccc

//--------------------------------like------------------------------------------------//

.like-back
  width 90%
  height 900px
  background rgba(255,255,255,.5)
  margin auto

.like-back .card
  max-width 20rem
  max-height  25rem

.like-back .card img
  width 500px
  height 400px
  object-fit cover


//--------------------------------login -------------------------------------------//
.register
  border none
  border-color none
  color  rgb(0,0,0)
  background none

.register:hover
  background none
  color  red


.font
  font-size 1.5rem
  letter-spacing 2px
  font-weight 400
  line-height 2


.font3
    // font: 600 5em/1 'Raleway', sans-serif;
    // color: #d0bfcb;
    // text-align: center;
    // text-transform: uppercase;
    // letter-spacing: .5em;
    // position: absolute;
    // top: -500px;
    // width: 100%;
    // text-shadow 0 0 5px #fff
    // 0 0 10px #fff
    // 0 0 20px #fff
    // 0 0 40px #0ff
    // 0 0 80px #0ff
    // 0 0 90px #0ff
    // 0 0 100px #0ff
    // 0 0 150px #0ff
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    text-transform: uppercase;
    display: block;
    font-size: 70px;
    color: #ffffff;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    font-weight 300;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    top: -500px;
    left: 50%;
    transform: translate(-50%,-50%);

.font3::before
  content ''
  width 300px
  height 40px
  background #F9DCC4
  position absolute
  top 10px
  left -20px
  z-index -5

.font2
    color #954C51
    font-size 2rem


//--------------------admin---------------------------//
.admin
  width 100%
  height 100vh

.admin::before
  content ''
  width 100%
  height 100vh
  background inherit
  filter blur(3px)
  z-index 1
.admin-top
  background #fff1e6
  height 130px

.admin-card
  width 1200px
  height 750px
  background white
  margin auto
  box-shadow 0 0 20px 2px rgba(0,0,0,.2)


.admin-table .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
  color #954C51


.addproduct .bi-plus-circle
  background none
  border none
  color rgb(235, 116, 116)
  margin auto



.admin-logo
  width 20%
  position fixed
  right 0
  bottom 0
  z-index -1

.adminProduct .b-table-sticky-header
  max-height 550px

.adminProduct img
  height 100px
  object-fit cover

.admin-title a
  color black

.admin-card .btn
  background none
  border none
  color black


.product-table tr th:nth-child(5)
  width 30%

.admin-btn
  border none